<section class="px-[18px] mb-6 lg:mb-16 lg:px-[30px] max-w-[1900px] mx-auto">
  <div
    class="page-title text-center mt-[30px] mb-[30px] max-w-2xl mx-auto flex flex-col justify-center items-center"
  >
    <h1
      class="text-[23px] font-normal text-[#212322] uppercase leading-[1.8] relative pb-3 after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0"
    >
      WELCOME TO PAPTUI
    </h1>
    <p class="text-center font-secondary tracking-[1px] mt-5 text-[15px]">
      Science backed formulations developed for performance
    </p>
  </div>

  <div class="about-video__container max-w-[1200px] w-full mx-auto h-[350px] sm:h-[450px] lg:h-[650px]">
    <iframe
      class="h-full w-full"
      src="https://www.youtube.com/embed/Dkv173dkfbA?si=VYmzy0at3JbteznR"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="text">
    <p class="text-center font-secondary tracking-[1px] mt-[60px] text-[15px]">
      TAKE BETTER CARE™. A men's care line founded by Dwayne "The Rock" Johnson.
    </p>
  </div>

  <!-- START OF BENEFITS COLUMN SECTION -->
  <div class="mt-[60px]">
    <div
      class="reviews-container w-full flex flex-wrap justify-center  gap-x-[30px] gap-y-[30px] md:gap-y-[36px] lg:gap-y-[60px]"
    >
      <div class="review-item max-w-[320px]">
        <div class="text-content text-center mb-3">
          <h3 class="text-[20px] md:text-[24px] leading-[28px] uppercase mb-2 font-medium font-secondary">Effective</h3>
          <p class="text-[15px] font-secondary leading-[30px]">Result focused formulations backed by science.</p>
        </div>
      </div>
      <div class="review-item max-w-[320px]">
        <div class="text-content text-center mb-3">
          <h3 class="text-[20px] md:text-[24px] leading-[28px] uppercase mb-2 font-medium font-secondary">
            HIGH QUALITY
          </h3>
          <p class="text-[15px] font-secondary leading-[30px]">
            Tested by hundreds of real guys for great performance.
          </p>
        </div>
      </div>
      <div class="review-item max-w-[320px]">
        <div class="text-content text-center mb-3">
          <h3 class="text-[20px] md:text-[24px] leading-[28px] uppercase mb-2 font-medium font-secondary">
            CLEANER INGREDIENTS
          </h3>
          <p class="text-[15px] font-secondary leading-[30px]">
            We worked hard to formulate products that are cleaner & better for you.
          </p>
        </div>
      </div>
      <div class="review-item max-w-[320px]">
        <div class="text-content text-center mb-3">
          <h3 class="text-[20px] md:text-[24px] leading-[28px] uppercase mb-2 font-medium font-secondary">
            luxury scents
          </h3>
          <p class="text-[15px] font-secondary leading-[30px]">Developed by the top fragrance team in the world.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF BENEFITS COLUMN SECTION -->
</section>

{% schema %}
{
  "name": "About section",
  "settings": [],
  "blocks": [],
  "presets": [{ "name": "About section" }]
}
{% endschema %}
