<section class="px-[18px] mb-6 lg:mb-16 lg:px-[30px] max-w-[1900px] mx-auto">
  <div class="page-title text-center mt-[30px] mb-[30px] max-w-2xl mx-auto flex flex-col justify-center items-center">
    <h1
      class="text-[23px] font-normal text-[#212322] uppercase leading-[1.8] relative pb-3 after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0"
    >
      Contact Us
    </h1>
    <p class="text-center font-secondary tracking-[1px] mt-5 text-[15px] leading-loose">
      If you have any questions or would like to get in touch with the PAPATUI team, please email us at
      support@papatui.com
    </p>
  </div>

  <div class="page-title text-center mt-[30px] mb-[30px] max-w-2xl mx-auto flex flex-col justify-center items-center">
    <h1
      class="text-[23px] font-normal text-[#212322] uppercase leading-[1.8] relative pb-3 after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0"
    >
      Faqs
    </h1>
  </div>

  <div class="faq-question__container block w-full max-w-[740px] mx-auto 2xl:flex 2xl:items-start 2xl:relative 2xl:w-full 2xl:max-w-[990px]">
    <div class="faq-categories hidden 2xl:block 2xl:sticky 2xl:top-[18px] 2xl:w-[250px] 2xl:self-start">
      <ul>
        <li class="text faq-category-item font-secondary uppercase cursor-pointer text-[#212322] transition-opacity duration-200 ease-in-out hover:opacity-70 tracking-[1px] text-[15px] leading-[2] font-normal">
          <a href="#general">General</a>
        </li>
        <li class="text faq-category-item font-secondary uppercase cursor-pointer text-[#212322] transition-opacity duration-200 ease-in-out hover:opacity-70 tracking-[1px] text-[15px] leading-[2] font-normal">
          <a href="#orders">Orders</a>
        </li>
        <li class="text faq-category-item font-secondary uppercase cursor-pointer text-[#212322] transition-opacity duration-200 ease-in-out hover:opacity-70 tracking-[1px] text-[15px] leading-[2] font-normal">
          <a href="#product-experience">Product Experience</a>
        </li>
        <li class="text faq-category-item font-secondary uppercase cursor-pointer text-[#212322] transition-opacity duration-200 ease-in-out hover:opacity-70 tracking-[1px] text-[15px] leading-[2] font-normal">
          <a href="#contact-us">Contact us</a>
        </li>
      </ul>
    </div>
    <div class="container__faqs px-0 py-0 xl:px-[30px]">
      <div class="faq__wrapper px-0 pb-[18px] xl:max-w-[740px] xl:px-[30px] xl:w-full xl:mx-auto ">
        <div class="title_container mb-5">
          <h1
            id="general"
            class="text-left pb-[12px] font-normal text-[18px] uppercase text-[#3e4827] leading-[1.8] relative after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-0 after:bottom-0 scroll-mt-[160px]"
          >
            General
          </h1>
        </div>
        <div class="accordion">
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Where can I buy PAPATUI™ products?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                PAPATUI™ products can be purchased on papatui.com, Target.com, and inside your local Target store
                (starting to roll-out from March 10th).
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Do you have a consumer or professional sampling program?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Unfortunately, we do not have a consumer or professional sampling program at this time.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Do you have gift cards?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Unfortunately, we do not offer any gift cards at this time. Please check our website www.papatui.com for
                future availability.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Can women use PAPATUI™ products?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Although our products are formulated with men in mind they can be used and enjoyed by anyone.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq__wrapper px-0 py-[18px] xl:max-w-[740px] xl:px-[30px] xl:w-full xl:mx-auto ">
        <div class="title_container mb-5">
          <h1
            id="orders"
            class="text-left pb-[12px] font-normal text-[18px] uppercase text-[#3e4827] leading-[1.8] relative after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-0 after:bottom-0 scroll-mt-[160px]"
          >
            ORDERS
          </h1>
        </div>
        <div class="accordion">
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Do you ship to Canada?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                We're working to ship to Canada and as soon as we do you'll be the first to know
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Where do you ship?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                We currently only ship within the United States. We do not ship to the Virgin Islands, Puerto Rico, or
                Canada.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Do you offer free shipping?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                As a special launch treat we are offering free shipping on all orders $40 or more
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">When will my order ship?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Papatui.com orders are typically processed within 2-4 business days (we don't ship on weekends or major
                holidays). Orders placed by 1 PM EST Monday through Friday will be processed the same day. Then, it's
                passed to our shipping carriers. Once the carrier accepts and scans your package, the tracking
                information sent via email will be updated and give an ETA on when you can expect your package to
                arrive.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">What forms of payment do you accept?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                We accept Visa, Mastercard and American Express. We also accept Paypal, Google Pay, Shop Pay and Venmo.
                We are unable to accept prepaid gift cards, checks, or money orders
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">I have a question about my order, who can I talk to?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                You've got questions, we've got answers. Please reach out to us at support@papatui.com for any order
                related questions and we'll be happy to help. We are available Monday - Friday from 8am-5pm EST
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Can I cancel my order?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                After you place an order our team gets working on it right away. Because of this, we cannot guarantee
                that we'll be able to cancel your order once it's been placed, but we'll do our best. Please reach out
                to us at support@papatui.com
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">What do I do if a product I want is out of stock?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                If you click “Notify me when available”, you will receive an email when the product is back in stock.
                Please note this will not be available during promotional periods. Please check back often as we will be
                restocking on an on-going basis. Please also note that our team is not able to provide restock timing
                for products that are unavailable. We apologize for any inconvenience.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">When will my order ship?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Papatui.com orders are typically processed within 2-4 business days (we don't ship on weekends or major
                holidays). Orders placed by 1 PM EST Monday through Friday will be processed the same day. Then, it's
                passed to our shipping carriers. Once the carrier accepts and scans your package, the tracking
                information sent via email will be updated and give an ETA on when you can expect your package to
                arrive.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Do you offer returns?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                We love our products and hope you do too. However, if you purchased your products through papatui.com
                and your order is not to your liking, please email us at support@papatui.com for more information.
              </p>
              <p class="font-secondary">
                If you did not purchase your products through papatui.com and instead at Target or Target.com, we
                recommend reaching out directly to Target for a refund.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">How do I create a subscription order/account?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                When placing an order, select the “Subscribe” option on the product page. This will allow you to select
                the frequency in which you want that item delivered. Once you have successfully completed that order and
                checked out, you are enrolled and have created a subscription account.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">How do I manage/update my subscription?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                To manage your subscription, log into your account on papatui.com and navigate to your account page. At
                the top under MY ACCOUNT click on the link MANAGE SUBSCRIPTIONS.
              </p>
              <p class="font-secondary">
                There you will be able to manage any item you have on subscription, skip a delivery or reschedule an
                upcoming delivery
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq__wrapper px-0 py-[18px] xl:max-w-[740px] xl:px-[30px] xl:w-full xl:mx-auto ">
        <div class="title_container mb-5">
          <h1
            id="product-experience"
            class="text-left pb-[12px] font-normal text-[18px] uppercase text-[#3e4827] leading-[1.8] relative after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-0 after:bottom-0 scroll-mt-[160px]"
          >
            PRODUCT EXPERIENCE
          </h1>
        </div>
        <div class="accordion">
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Are all of your products dermatologist tested?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">Yes - all PAPATUI™ products are Dermatologist Tested</p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Are your products PETA Vegan and Cruelty Free?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Absolutely. All of our products are cruelty-free and vegan. PAPATUI™ is a member of PETA's Beauty
                Without Bunnies program - none of our products and ingredients are tested on animals, and we always
                choose vegan alternatives.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Are your products recyclable?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Yes, all PAPATUI™ products are made with the environment in mind. All local recycling programs are
                different, so please look into your local curbside recycling program to sort your products for your
                local recycling team.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Does PAPATUI™ use Post Consumer Recycled (PCR) Plastic?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Yes - wherever possible. We make sure at least 30% of the plastic we use is PCR.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Are your products Clean?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                At PAPATUI™, we strive to create products that are as clean as possible while high performing. We look
                to use the cleanest ingredients possible first and foremost as long as we didn't sacrifice efficacy.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Where are your products made?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                Our PAPATUI™ Tattoo Stick, Tattoo Balm, Antiperspirant and Deodorant are made in Canada. All other
                PAPATUI™ products are made in the USA with globally sourced ingredients and components.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Are your products safe for use by children?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                PAPATUI™ products are considered safe for everyone in your family. For any concerns, please contact your
                pediatrician.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq__wrapper px-0 py-[18px] xl:max-w-[740px] xl:px-[30px] xl:w-full xl:mx-auto ">
        <div class="title_container mb-5">
          <h1
            id="contact-us"
            class="text-left pb-[12px] font-normal text-[18px] uppercase text-[#3e4827] leading-[1.8] relative after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-0 after:bottom-0 scroll-mt-[160px]"
          >
            Contact us
          </h1>
        </div>
        <div class="accordion">
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Get In Touch</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                If you have any questions or would like to get in touch with the PAPATUI team, please email
                support@papatui.com.
              </p>
            </div>
          </div>
          <div class="accordion-item no-borders">
            <div class="accordion-header">
              <h3 class="font-secondary">Request to Remove Personal Data?</h3>
              <div class="x-icon"></div>
            </div>
            <div class="accordion-content">
              <p class="font-secondary">
                We take your privacy seriously and only use your data to enhance your experience with us.
              </p>
              <p class="font-secondary">As a customer, you have the right to:</p>
              <ul>
                <li class="font-secondary">Request a summary of your personal information</li>
                <li class="font-secondary">Request that we do not share or sell your data</li>
                <li class="font-secondary">Request that we delete your personal data</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
