<section class="px-[18px] mb-6 lg:mb-16 lg:px-[30px] max-w-[1900px] mx-auto bg-[#f3f1ec] pt-[60px] pb-[60px]">
  <div class="email-container flex flex-col w-full m-0 p-[10px] min-h-[300px] justify-center items-center">
    <h2 class="title pt-[10px] font-bold text-center text-[24px] text-[#3e4827] font-secondary">
      SUBSCRIBE TO GET 10% OFF
    </h2>
    <p class="text-content p-[10px] text-center text-[#3e4827] text-sm font-secondary">
      Get in on exclusive deals like 10% off your first order and more when you subscribe to our mailing list
    </p>
    <form class="email-capture__form py-[10px] w-full max-w-[850px] flex flex-col justify-center items-center">
      <input
        class="rounded-none pl-[16px] h-[50px] text-left text-black text-base font-normal tracking-[0px] bg-white border border-[#949596] w-full"
        type="email"
        name="email"
        placeholder="Enter email address"
      >
      <button class="email-capture__btn w-full uppercase px-[10px] py-[10px] tracking-[1px] leading-[30px] text-[15px] text-[#3e4827] bg-transparent border border-black mt-[20px] hover:bg-[#ccc7b5] cursor-pointer sm:w-fit">
        Subscribe
      </button>
    </form>
    <p class="email-capture__disclaimer text-[#544e38] text-center text-[12px] py-[20px] px-[10px]">
      You can unsubscribe from our mailing list at any time. Further details of how we handle your personal information
      can be found in our <a style="text-decoration: underline; color: #0066cc;" href="#">Privacy&nbsp;Policy</a>.<br>
      By subscribing you agree to our
      <a style="text-decoration: underline; color: #0066cc;" href="#">Terms and Conditions</a>.
    </p>
  </div>
</section>
