<footer class="bg-[#3e4827] mt-">
  <div class="footer-container pt-[60px] pb-[0px] px-[0px] md:flex md:pb-[30px] md:px-[18px]">
    <div class="footer_logo w-full mb-[30px] pl-[30px] md:w-1/3 lg:w-1/4">
      <img src="{{ 'Papatui_Flame_Logo_1a526e18-3e67-45a5-a57e-51c3cb7674d2.png' | asset_url }}" alt=""> 
    </div>
    
    <div class="footer-nav w-full mb-[30px] pl-[30px] text-[#f3f2ed] md:w-1/3 lg:w-1/4">
      <h5 class="footer-nav__title uppercase mb-[12px] text-[15px] leading-[1.9]  font-semibold">SUPPORT & CONTACT</h5>
      <ul class="footer-nav__items mb-4">
        <li class="footer-nav__item mb-[10px] text-[14px] font-secondary ">
          <a href="/pages/contact-us" class="footer-nav__link text-[#fffffccf] hover:text-white">Contact Us</a>
        </li>
        <li class="footer-nav__item mb-[10px] text-[14px] font-secondary ">
          <a href="/pages/privacy-policy" class="footer-nav__link text-[#fffffccf] hover:text-white">Privacy</a>
        </li>
        <li class="footer-nav__item mb-[10px] text-[14px] font-secondary ">
          <a href="/pages/terms-of-use" class="footer-nav__link text-[#fffffccf] hover:text-white">Terms of Use</a>
        </li>
        <li class="footer-nav__item mb-[10px] text-[14px]  font-secondary ">
          <a href="/pages/accessibility-statement" class="footer-nav__link text-[#fffffccf] hover:text-white">Accessbility Statement</a>
        </li>
      </ul>
    </div>
    <div class="footer-nav social w-full mb-[0px] pl-[30px] text-[#f3f2ed] md:w-1/3 lg:w-1/4">
      <h5 class="footer-nav__title uppercase mb-[12px] text-[15px] leading-[1.9]  font-semibold">Social</h5>
      <ul class="footer-nav__items social__items mb-4 flex gap-[10px] -ml-[12px]">
        <li class="footer-nav__item social__item w-[40px] h-[40px]">
          <a class="footer-nav__link social-icon w-[20px] h-[20px] mx-auto block" href="https://www.instagram.com/papatui_/" target="_blank">
            <img src="{{ 'papatui_footer_white_instagram.png' | asset_url }}" alt="Papatui instagram"> 
          </a>
        </li>
        <li class="footer-nav__item social__item w-[40px] h-[40px]">
          <a class="footer-nav__link social-icon w-[20px] h-[20px] mx-auto block" href="https://www.tiktok.com/@papatui?_t=8kTbNWJ02Zv&_r=1" target="_blank">
            <img src="{{ 'papatui_footer_white_tiktok.png' | asset_url }}" alt="Papatui tik tok"> 
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom border-t border-t-[rgba(255,255,255,0.2)] py-[12px] px-[30px] min-h-[66px] flex justify-center items-center lg:justify-end">
    <div class="footer-copyright__text text-[0.8rem] text-[#fffffccf]">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      , PAPATUI
    </div>
  </div>
</footer>
