<div class="page-title text-center mt-[30px] mb-[60px] max-w-2xl mx-auto flex flex-col justify-center items-center">
  <h1 class="text-[23px] font-normal text-[#212322] uppercase leading-[1.8] relative pb-3 after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0">
    {{ collection.title }}
  </h1>
</div>

{% paginate collection.products by 24 %}

<div class="collection-container grid [justify-items:center] grid-cols-1 px-[10px] mx-auto md:grid-cols-2 lg:grid-cols-3 lg:px-[30px] xl:grid-cols-4">
  {% for product in collection.products %}
    {% render 'product-card', product: product %}
  {% else %}
    <p class="mt-4 mb-6 font-secondary text-center">There are no products in this collection</p>
  {% endfor %}
</div>


<div class="mx-auto mt-6 mb-[42px] md:mb-[60px]">
  {% render 'pagination-1', pagination: paginate %}
</div>
{% endpaginate %}